<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toolcase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/a"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/a"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toolcase"
        android:usesCleartextTraffic="true">
        <activity android:name=".shezhi"></activity>
        <activity android:name=".huaban" />
        <activity android:name=".suijishu" />
        <activity android:name=".shudu" />
        <activity android:name=".jinzhizhuanhuan" />
        <activity android:name=".daojishi" />
        <activity android:name=".kebiao" />
        <activity android:name=".start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".todayinhistory" />
        <activity android:name=".xinhuazidian" />
        <activity android:name=".chengyuchaxun" />
        <activity android:name=".Qrcode" />
        <activity android:name=".translate" />
        <activity android:name=".meiriyitu" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>